body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    height: 5vh;
    width: 100vw;
    background: #333333;
}

header > a {
    margin-left: 10vh;
    text-decoration: none;
    color: white;
    font-size: 2.5vh;
    font-weight: bold;
    letter-spacing: 2px;
}

.submenu {
    margin-left: auto;
    margin-right: 10vh;
    display: flex;
    justify-content: space-between;
    width: 20vh;
}


.submenu > a {
    text-decoration: none;
    color: white;
    padding: .75vh;
    border: 2px solid rgb(59, 142, 186);
    border-radius: 5px;

}