#profileContent {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background: silver;
    padding-bottom: 35vh;

}

aside {
    display: flex;
    flex-direction: column;
    height: 60vh;
    width: 20vw;
    background: #333333;
    margin-top: 10vh;
    align-items: center;

}

aside img {
    border: 1vh solid rgb(59, 142, 186);
    background: silver;
    border-radius: 50%;
    height: 20vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

aside h1, aside p {
    color: white;
}

aside a {
    width: 100%;
    background: silver;
    font-size: 2vh;
    text-align: center;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-decoration: none;
    color: #333333;
}

aside > a:hover {
    background: rgb(59, 142, 186);
    color: white;

}

h1 {
    margin: 0;
}

aside :nth-child(5),aside :nth-child(6) {
    margin-top: .5vh;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
    width: 50vw;
    background: #333333;
    margin-left: 2vh;
    overflow-y: scroll;
    padding-bottom: 4vh;

}

.itemTrour {
    background: silver;
    border-radius: 2vh;
    padding: 3vh;
    width: 80%;
    border: 3px solid black;
    margin-top: 2vh;
    text-decoration: none;
}

.itemTrour > * {
    text-decoration: none;
    color: #333333;
}

.itemTrour h1 {
    color: rgb(59, 142, 186);

}